:root {
    --color-primary: #b8253b;
    --color-secondary: #ece2d8;
    --color-green: #0c7e67;
    --color-gray: #999999;
    --color-black: #000000;
    --border-radius: 20px;
    --brand-font: "Passions Conflict", cursive, Arial, Helvetica, sans-serif;
    --body-font: "Poppins", sans-serif, Arial, Helvetica;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--body-font);
}

body{
    font-family: var(--body-font);
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
a{
    color: var(--color-green);
}
/* Banner  */

.banner{
    position: relative;
    height: 30vh;
}

.banner img{
    position: absolute;
    top:0;
}

/* Container  */

.book-container{
    max-width: 900px;
    margin: auto;

}

/* Buttons   */

.book-btn {
    display: block;
    background: none;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 400;
    transition: box-shadow 0.3s;
    margin:auto;
}


.book-long-btn {
    font-size: 0.9rem;
    padding: 0.6rem 0;
    margin: 1rem auto;
    width: 328px;
}

.book-green-btn {
    background: var(--color-green);
    color: var(--color-secondary);
}

.input-group-btn{
    margin: 0;
}

.form-btn-wrap{
    position: sticky;
    bottom: 0;
    background: var(--color-secondary);
    z-index: 200;
}

/* Icons  */

.book-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
   
}

/* Inputs */

.book-input-group {
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    padding: .7rem 0.5rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.book-input-group .book-input:focus {
    outline: none;
}

.book-input {
    border-radius: var(--border-radius);
    border: none;
    color: var(--color-black);
    padding: .7rem 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.book-input-group .book-input {
    flex: 1;
    width: 0;
    padding: 0 0.5rem;
}

::placeholder {
    color: var(--color-gray);
    font-size: .9rem;
}

textarea {
    resize: none;
}

/* Main  */


.main{
    background: var(--color-secondary);
    width: 100%;
    padding-bottom: 1rem;
}

.booking-nav{
    position: relative;
    bottom: 60.5px;
    display: flex;
    gap: 1rem;
  width: 100%;
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: 600;
    padding:.4rem 1rem;
    cursor: pointer;
    
}

.book-heading{
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: .8rem 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: auto;
}

.book-nav-active{
    background: var(--color-secondary);
    color: var(--color-primary);
}

.form-1,.form-2{
    display: none;
}

.form-active {
    display: block;
}


/* For the form  */

.location-change{
    text-decoration: underline;
    padding: .5rem 0 1rem ;
    font-weight: 300;
    font-size: .9rem;
}

.find-table,.your-details{
position: relative;
display: flex;
flex-direction: column;
margin: auto;
text-align: center;
width: 328px;
}




.find-table label,
.your-details label{
    display: block;
    color: var(--color-primary);
    font-weight: 600;
    padding: .8rem 0;
}

.children-notice{
    color: var(--color-black);
    font-weight: 300;
    padding-top: .5rem;
}

.datetime-wrap{
    display: flex;
    gap: 1rem;
}

/* All Checkbox  */

.checkbox-wraper{
    display: flex;
    flex-direction: column;
   width: 328px;
   margin: auto;
   padding: 1rem 0;
   font-size: .9rem;
   color: var(--color-gray);
   text-align: left;
}
.checkbox-wraper label{
   color: var(--color-gray);
font-size: .9rem;
font-weight: 300;

}

.special-request,.conditions,.promo{
    display: flex;
    align-items: flex-start;
    gap: .8rem;
    align-items: baseline;
}


/* Special Reques  */
.special-request{
flex-wrap: wrap;
}

.request-input{
   margin-top: .9rem;
    display: none;
}

#special-request:checked ~ .request-input {
    display: block;
}

/* Drop down  */

select{
 appearance: none;
}

/* Number counter btn  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Booking sumary  */

.summary-card{
    background: #fff;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 0 15px -7px var(--color-black);
    max-width: 328px; 
    margin: 1rem 0 0 auto;  
}

.summary-card-body{
    display: flex;
    align-items: center; 
    padding: 1rem;
    margin: auto;
}
.summary-card-body li{
    display: flex;
    gap: .5rem;
    padding: .5rem 0; 
}

.summary-card-heading{
    background: var(--color-green);
    text-align: center;
    color: var(--color-secondary);
    padding: .6rem 0;
    font-weight: 500;
    font-size: 1.3rem;
   
}

.booking-summary{
    display: none;
}


@media screen and (min-width: 770px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
.booking-summary {
    display: block;
   
}
   
}

@media screen and (max-width: 365px) {
.book-long-btn {
    width: 80vw;
 
}

.book-input {
    width: 80vw;
    margin: auto;
}

.book-input-group {
   width: 80vw;
   margin: auto;
}

.find-table,
.your-details { 
    width: 80vw;
}
.checkbox-wraper {
    width: 80vw;
}

.datetime-wrap {
   justify-content: space-between;
   width: 80vw;
}
}