
:root {
    --color-primary: #b8253b;
    --color-secondary: #ece2d8;
    --color-green: #0c7e67;
    --color-gray: #999999;
    --color-black: #000000;
    --border-radius: 30px;
    --brand-font: "Passions Conflict", cursive, Arial, Helvetica, sans-serif;
    --body-font: "Poppins", sans-serif, Arial, Helvetica;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--body-font);
}

/* Brand */
.brand {
    display: block;
    font-family: var(--brand-font);
    font-size: 2.5rem;
    color: var(--color-secondary);
    letter-spacing: 1px;
    text-align: center;
}

/* Button  */

.btn,
.input-group-btn {
    display: block;
    background: none;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 400;
    transition: box-shadow 0.3s;
    margin: auto;
}

.btn:hover {
    box-shadow: 0 0 15px -5px var(--color-black);
}

.btn-green-color {
    background: var(--color-green);
    color: var(--color-secondary);
}

.btn-primary-color {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.btn-secondary-color {
    background-color: var(--color-secondary);
    color: var(--color-green);
}

.btn-small {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
}

.btn-long {
    font-size: 0.9rem;
    padding: 0.6rem 3.6rem;
}

/* Container  */

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

/* Accordion  */
.accordion-card {
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-secondary);
}

.accordion-title {
    text-transform: uppercase;
    font-size: 1rem;
    position: relative;
    padding: 0 20px;
    position: relative;
}

.accordion-title::before {
    content: "";
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 50px;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    transition: background-image 0.4s;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="12" height="6" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"%3E%3Cg transform="rotate(-90 10 10) translate(0 20) scale(1 -1)"%3E%3Cpath fill="%23ece2d8" fill-rule="evenodd" d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z" clip-rule="evenodd"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}






.footer {
    background: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
}

.footer-heading {
    margin-bottom: 1rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.footer .links {
    display: block;
    font-size: 0.9rem;
    margin-top: 0.6rem;
}

.footer-list {
    display: none;
}

.footer-terms,
.footer-privacy {
    display: block;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--color-secondary);
}

.footer-input:checked~.accordion-title::before {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="12" height="6" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"%3E%3Cpath fill="%23ece2d8" fill-rule="evenodd" d="M5 10a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1Z" clip-rule="evenodd"%2F%3E%3C%2Fsvg%3E');
}

.footer-input {
    display: none;
}

.footer-input:checked~.footer-list {
    display: block;
}

@media screen and (min-width: 991px) {
   
    /* Footer  */
    .footer-content {
        width: 90%;
        margin: auto;
    }

    .footer-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .footer-social .icon {
        height: 2.5rem;
        width: 2.5rem;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .accordion-content {
        display: flex;
        justify-content: space-between;
    }

    .accordion-card {
        border: none;
    }

    .accordion-title::before {
        display: none;
    }
}