:root {
    --color-primary: #b8253b;
    --color-secondary: #ece2d8;
    --color-green: #0c7e67;
    --color-gray: #999999;
    --color-black: #000000;
    --border-radius: 30px;
    --brand-font: "Passions Conflict", cursive, Arial, Helvetica, sans-serif;
    --body-font: "Poppins", sans-serif, Arial, Helvetica;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--body-font);
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.grid{
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
.kids-card {
background: var(--color-primary);
    border-radius: var(--border-radius);
 color: #fff;
    font-weight: 300;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 1rem; 
}

.kids-card-auto{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
    background: var(--color-primary);
    color: #fff;
    border-radius: var(--border-radius);
 text-align: center;
    position: relative;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 2rem;
}
.kids-card-auto p{
    font-size: .8rem;
}

.kid-card-heading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height:50%;
    padding: 1rem;
}
.kid-card-heading p{
    font-size: .8rem;
}

.kid-card-body{
    height: 50%;
}


.text-over-img{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0 0 1rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    font-family: Georgia,serif;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
   
}


.btn-kid {
    display: block;
    background: none;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 400;
    transition: box-shadow 0.3s;
    text-align: center;
    border: 1px solid var(--color-secondary);
    margin-top: 1rem;
    word-wrap: pre;
}


.btn-kid:hover {
    box-shadow: 0 0 15px -5px var(--color-black);
}

.btn-green-color {
    background: var(--color-green);
    color: var(--color-secondary);
}


.btn-small {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
}

.btn-long {
    font-size: 0.9rem;
    padding: 0.6rem 2rem;
}

@media screen and (max-width: 380px) {
.kid-card-heading {
    height: auto;
}
.text-over-img{
    font-size: 1.5rem;
}
.text-heanding{
    font-size: 1rem;
}

.kids-card {
    width: 80vw;
    margin: auto;
}
.kid-card-first{
    max-height: 200px;
}
}
@media screen and (min-width: 767px) {
.btn-kid{
    margin-left: auto;
    margin-right: auto;
}

}

@media screen and (min-width: 991px) {

.kids-card {
    height: 300px; 
    border-radius: 70px;
    font-size: 1rem;  
}

.kids-card-auto {
    border-radius: 50px;
}

.kids-card {
    display: flex;
}

.kid-card-heading {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
  
}

.kids-card-auto p {
    font-size: 1rem;
}

.kid-card-heading p {
    font-size: 1rem;
}


.kid-card-body {
    height: 100%;
    width: 50%;
}


}