:root {
  --color-primary: #b8253b;
  --color-secondary: #ece2d8;
  --color-green: #0c7e67;
  --color-text: #999999;
  --border-radius: 30px;
  --brand-font: "Passions Conflict", cursive, Arial, Helvetica, sans-serif;
  --heading-font: "IBM Plex Serif", cursive, Arial, Helvetica, serif;
  --body-font: "Poppins", sans-serif, Arial, Helvetica;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
}

/* Button  */

.btn {
  border: none;
  background: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* Brand  */
.brand {
  display: block;
  text-transform: capitalize;
  color: var(--color-secondary);
  font-family: var(--brand-font);
  font-size: 5rem;
  text-align: center;
}

/* Icon  */
.icon {
  display: block;
  font-size: 3.5rem;
  cursor: pointer;
}
.icon__small {
  font-size: 2rem;
}

/* Forms  */
.find-form {
  padding: 2rem;
}

/* Inputs */

.input-group {
  background: var(--color-secondary);
  display: flex;
  border-radius: var(--border-radius);
  align-content: center;
  padding: 1rem;
}

.input__label {
  display: block;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
}

::placeholder {
  font-size: 1.3rem;
}

.input {
  font-size: 1.5rem;
  outline: 0;
  border: none;
  flex-grow: 1;
  background: var(--color-secondary);
  border-radius: var(--border-radius);
  font-family: var(--body-font);
  font-weight: 300;
  padding-left: 0.5rem;
  width: 0;
}

/* Nav Bar  */
.nav-bar {
  position: fixed;
  justify-content: space-between;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: var(--color-primary);
  padding: 1rem;
  z-index: 9999;
}

.nav__contenet {
  position: absolute;
  top: 0;
  right: 0;
  width: 95vw;
  height: 100vh;
  background: var(--color-primary);
  padding: 4rem 2rem;
  color: #fff;
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2.5rem;
  margin-top: 5rem;
  padding: 2rem;
  font-weight: 600;
  font-family: var(--heading-font);
}

.nav__heading {
  display: flex;
  justify-content: space-between;
}

.nav__link a {
  color: #fff;
}

.nav__list .btn {
  margin-right: auto;
  background: var(--color-secondary);
  padding: 0.5rem 2.5rem;
  display: none;
}
.nav__contenet .btn a {
  color: var(--color-green);
}

/* Hero */

.hero__wrap {
  position: relative;
  top: 7rem;
  width: 100%;
  height: 90vh;
  margin-bottom: 12rem;
}
.hero__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__conteent {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.hero__text {
  text-align: center;
  margin: auto;
}

.hero__heading {
  font-size: 5rem;
  font-family: var(--heading-font);
  font-weight: 600;
  color: var(--color-secondary);
}

.hero .btn {
  background-color: var(--color-green);
  color: #fff;
  padding: 1rem 6rem;
  font-size: 1.5rem;
  font-family: var(--body-font);
  margin-top: 5rem;
  transition: box-shadow 0.3s;
}
.hero .btn:hover {
  box-shadow: 0 0 25px 0px #000;
}
.hero .icon {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  color: #fff;
}

/* Card */
.grid {
  display: grid;
  gap: 4rem 0;
  margin: 3rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.card__body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary);
  text-align: center;
  font-size: 0.9rem;
  font-family: var(--body-font);
  color: var(--color-text);
  display: flex;
  /* padding: 0 2rem 3rem; */
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.card__image {
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__image > img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-slider > img {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-radius: var(--border-radius);
}

.card__heading {
  margin: 3rem 0 1rem 0;
  color: var(--color-primary);
  font-size: 1.5rem;
}

.card__btn {
  position: absolute;
  background: var(--color-green);
  color: #fff;
  font-family: var(--body-font);
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  bottom: -1rem;
}

.card__promo,
.card__findus,
.card-slider {
  display: none;
}

@media screen and (min-width: 991px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .nav__list .btn {
    display: block;
    padding: 0 1rem;
  }

  .find-form {
    display: none;
  }

  .nav__heading {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-content: center;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .nav__contenet {
    position: relative;
    width: auto;
    height: auto;
    background: none;
    padding: 0;
  }
  .nav__link {
    position: relative;
  }

  .nav__link::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  .nav__link:hover:after {
    width: 100%;
  }

  .hero__wrap {
    position: relative;
    top: 7rem;
    height: 40vh;
  }

  .hero .icon {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 3rem auto;
    gap: 3rem;
    padding: 0 5rem;
  }
  .card {
    max-height: 310px;
  }

  .card__heading {
    margin: 1rem 0 0.3rem 0;
    font-weight: 900;
  }

  .card__body {
    flex: 1;
    min-height: 155px;
    font-size: 0.8rem;
  }

  .card__promo,
  .card__findus,
  .card-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-secondary);
    border-radius: var(--border-radius);
  }
}
@media screen and (max-width: 320px) {
  ::placeholder {
    font-size: 0.9rem;
  }
}
