:root {
  --color-primary: #b8253b;
  --color-secondary: #ece2d8;
  --color-green: #0c7e67;
  --color-gray: #999999;
  --color-black: #000000;
  --border-radius: 30px;
  --brand-font: "Passions Conflict", cursive, Arial, Helvetica, sans-serif;
  --heading-font: "IBM Plex Serif", cursive, Arial, Helvetica, serif;
  --body-font: "Poppins", sans-serif, Arial, Helvetica;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--body-font);
}

h2 {
  font-family: var(--heading-font);
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

/* Brand */
.brand {
  font-family: var(--brand-font);
  font-size: 3rem;
  color: var(--color-secondary);
  letter-spacing: 1px;
}

/* Button  */

.btn {
  background: none;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-weight: 400;
  transition: box-shadow 0.3s;
}

.btn:hover {
  box-shadow: 0 0 20px 0px var(--color-gray);
}

.btn-green-color {
  background: var(--color-green);
  color: var(--color-secondary);
}
.btn-primary-color {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.btn-small {
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
}

.btn-long {
  font-size: 0.9rem;
  padding: 0.6rem 3.6rem;
}

/* Crads  */

.card {
  position: relative;
  margin: 1rem;
  max-height: 500px;
  height: auto;
  border-radius: var(--border-radius);
  background: var(--color-secondary);
  color: var(--color-gray);
  font-weight: 200;
}

.card-heading {
  height: 250px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
}
.card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  text-align: center;
}

.card-body .btn {
  position: absolute;
  bottom: -1rem;
}

.card-title {
  color: var(--color-primary);
  font-weight: 900;
  margin-bottom: 0.5rem;
}

/* Collapsible */
.collapsible .btn:hover {
  box-shadow: none;
}

.collapsible-content {
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
}

.collapsible-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

/* Icons  */

.icon-small {
  font-size: 1.5rem;
  color: var(--color-secondary);
}
