<div class="bottom-nav">

    <ul class="bottom-nav-list">
        <li>
            <a href="" class="icon-wraper">
                <svg class="icon icon-small">
                    <use xlink:href="icons/sprite.svg#menu"></use>
                </svg>
                Menu
            </a>
        </li>
        <li>
            <a href="" class="icon-wraper">
                <svg class="icon icon-small">
                    <use xlink:href="icons/sprite.svg#shopping"></use>
                </svg>
                Takeaway
            </a>
        </li>
        <li>
            <a href="" class="icon-wraper">
                <svg class="icon icon-small">
                    <use xlink:href="icons/sprite.svg#pin"></use>
                </svg>
                Find Us
            </a>
        </li>
        <li>
            <a href="" class="icon-wraper">
                <svg class="icon icon-small">
                    <use xlink:href="icons/sprite.svg#calendar"></use>
                </svg>
                Book
            </a>
        </li>
        <li>
            <a href="" class="icon-wraper">
                <svg class="icon icon-small">
                    <use xlink:href="icons/sprite.svg#toggle"></use>
                </svg>
            </a>
        </li>

    </ul>
    
</div>

