

<div class="card">
    <div class="card-heading">
        <img src="/images/catg-2.jpg" alt="">
    </div>

    <div class="card-body">
        <h2 class="card-title">Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, veniam.</p>
        <button class="btn btn-small btn-green-color">Book Now</button>
    </div>

</div>

</div>


<div class="card card-slider">

</div>

<div class="card card-findus">



</div>

<div class="card card-promo">
   
</div>