

<div class="card">
    <div class="card-heading">
        <img src="/images/catg-2.jpg" alt="">
    </div>

    <div class="card-body">
        <h2 class="card-title">Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, veniam.</p>
        <button class="btn btn-small btn-green-color">Book Now</button>
    </div>

</div>



<div class="card card-type-2 call-to-action">

    <h2 class="card-title">Sign up for all the latest news!</h2>
    <p>Sign up to Our Resturant emails to be the first to hear all the latest news and receive exclusive offers.</p>
    <input type="email" class="input" placeholder="Enter your email" />


    <button class="btn btn-small btn-green-color">Sign up</button>
</div>

<div class="card card-type-2 slider-wrap">

    <div class="slider-container">
        <img src="/images/catg-2.jpg" alt="">
        <button class="btn btn-small btn-green-color">Book Now</button>
    </div>

    <div class="slider-container">
        <img src="/images/catg-1.jpg" alt="">
        <button class="btn btn-small btn-primary-color">Book Now</button>
    </div>

    <div class="slider-container">
        <img src="/images/catg-4.jpg" alt="">
        <button class="btn btn-small btn-green-color">Book Now</button>
    </div>

    <div class="dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>


</div>

<div class="card card-type-2">

    <form action="" class="form">
        <h2 class="card-title">Find Us</h2>
        <p>Enter your location below to find your nearest Resturant!</p>
        <div class="input-group">

            <button class="input-group-btn" type="submit">
                <svg class="icon">
                    <use xlink:href="icons/sprite.svg#location"></use>
                </svg>
            </button>
            <input type="text" class="input" placeholder="Search by town,city or postcode" />

            <button class="input-group-btn" type="submit">
                <svg class="icon in-form-icon">
                    <use xlink:href="icons/sprite.svg#search"></use>
                </svg>
            </button>
        </div>

    </form>


</div>




