<footer class="footer">
    <div class="footer-heading">
        <span class="brand">YourBrand</span>

        <div class="footer-social">
            <svg class="icon icon-large">
                <use xlink:href="icons/sprite.svg#facebook"></use>
            </svg>

            <svg class="icon icon-large">
                <use xlink:href="icons/sprite.svg#instagram"></use>
            </svg>

            <svg class="icon icon-large">
                <use xlink:href="icons/sprite.svg#twitter"></use>
            </svg>
        </div>
    </div>

    <div class="collapsible-content">
        <div class="collapsible-card">
            <svg class="icon">
                <use xlink:href="icons/sprite.svg#add"></use>
            </svg>
            <h2 class="collapsible-title">About</h2>
        </div>

        <div class="collapsible-card">
            <svg class="icon">
                <use xlink:href="icons/sprite.svg#add"></use>
            </svg>
            <h2 class="collapsible-title">Our Food</h2>
        </div>

        <div class="collapsible-card">
            <svg class="icon">
                <use xlink:href="icons/sprite.svg#add"></use>
            </svg>
            <h2 class="collapsible-title">Careers</h2>
        </div>

        <div class="collapsible-card">
            <svg class="icon">
                <use xlink:href="icons/sprite.svg#add"></use>
            </svg>
            <h2 class="collapsible-title">Contact Us</h2>
        </div>

        <div class="collapsible-card">
            <h2 class="collapsible-title">Terms &#38; conditions</h2>
        </div>
        <div class="collapsible-card">
            <h2 class="collapsible-title">Privacy Notice</h2>
        </div>
    </div>


</footer>