<section class="hero">
    <div class="hero__wrap">
        <img src="/images/banar-1.jpg" alt="Selection of food " class="hero__img">

        <div class="hero__conteent">
            <div class="hero__text">
                <h1 class="hero__heading">Good Food ? We got You</h1>
                <button class="btn">Book now</button>
                <span class="icon icon-small">
                    <i class="fa-solid fa-chevron-down"></i>
                </span>
            </div>
        </div>
    </div>
</section>