<section class="hero">
    <div class="hero-wrap">
        <img src="/images/banar-1.jpg" alt="Selection of food " class="hero__img">

        <div class="hero-conteent">
            <div class="hero-text">
                <h1 class="hero-heading">Good Food ? We got You</h1>
                <button class="btn btn-green-color btn-long">Book now</button>

                <a href="#" class="hero-icon">
                    <svg class="icon icon-small">
                        <use xlink:href="icons/sprite.svg#expand"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>