<div class="menu-card">

    <div class="card-heading">
        <h4>Garlic Pizza Bread 4.50</h4>
        <div class="menu-card-text">
            <span>764 kcal</span>

            <div class="card-icon">
                <span class="info-icon"></span>
            </div>

            <div class="card-icon v-icon">
                <p class="tooltiptext-leaf-2">suitable for vegetarians</p>
                <span class="leaf-2">V</span>
            </div>


            <div class="card-icon vg-icon">
                <p class="tooltiptext-leaf-1">Suitable for Vegans</p>
                <span class="leaf-1">VG</span>
            </div>

            <div class="card-icon new-icon">
                <p class="tooltiptext-new">New</p>
                <span class="new-text">NEW</span>
            </div>

        </div>



    </div>

    <div class="card-body">
        <p>Big enough for 2 people</p>
        <h4>Add:</h4>
        <div class="menu-card-text">
            <span>Mozzarella 0.50 936 kcal</span>

            <div class="card-icon">
                <span class="info-icon"></span>
            </div>

            <div class="card-icon v-icon">
                <p class="tooltiptext-leaf-2">suitable for vegetarians</p>
                <span class="leaf-2">V</span>
            </div>
        </div>

        <div class="menu-card-text">
            <span>Vegan mozzarella 0.50 857 kcal</span>

            <div class="card-icon">
                <span class="info-icon"></span>
            </div>

            <div class="card-icon vg-icon">
                <p class="tooltiptext-leaf-1">Suitable for Vegans</p>
                <span class="leaf-1">VG</span>
            </div>
        </div>
    </div>
</div>