<header>
    <nav class="nav-bar">

        <span class="brand">YourBrand</span>
        <div class="nav__contenet">

            <div class="nav__heading">
                <span class="brand">YourBrand</span>
                <span class="icon"><i class="fa-solid fa-xmark"></i></span>
            </div>
         

            <ul class="nav__list">
                <li class="nav__link"><a href="#">Takeaway</a></li>
                <li class="nav__link"><a href="#">Find Us</a></li>
                <li class="nav__link"><a href="#">Book</a></li>
                <li class="nav__link"><a href="#">Our menus</a></li>
                <li class="nav__link"><a href="#">Kids</a></li>
                <li class="nav__link"><a href="#">offers</a></li>
                <li class="nav__link"><a href="#">Gift vouchers</a></li>

              


            </ul>

    