<div class="side-nav">
    <div class="side-nav-content">

        <div class="top-side-nav">
            <span class="brand">YourBrand</span>
            <svg class="icon icon-small">
                <use xlink:href="icons/sprite.svg#close"></use>
            </svg>

        </div>

        <h2 class="side-nav-heading">Find a restaurant</h2>

        <form action="#">
            <div class="input-group">
                <button class="btn" type="submit">
                    <svg class="icon">
                        <use xlink:href="icons/sprite.svg#location"></use>
                    </svg>
                </button>
                <input type="text" class="input" placeholder="Search by town,city or postcode" />
                <button class="btn" type="submit">
                    <svg class="icon in-form-icon">
                        <use xlink:href="icons/sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>


    <ul class="list">
        <li><a href="#" class="links">Takeaway</a></li>
        <li><a href="#" class="links">Find us</a></li>
        <li><a href="#" class="links">Book</a></li>
        <li><a href="#" class="links">Our menus</a></li>
        <li><a href="#" class="links">Kids</a></li>
        <li><a href="#" class="links">Offers</a></li>
        <li><a href="#" class="links">Gift vouchers</a></li>
        <li>
            <button class="btn btn-secondary-color btn-small">Book Now</button>
        </li>
    </ul>

</div>