<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="slider-btn.css">
    <title>Document</title>
</head>
<body>
    <!-- <label class="switch">
        <input type="checkbox">
        
        <span class="slider round"></span>

    </label> -->

    <div class="switch-wrap">
        <label for="checkbox">Hide Nutrition</label>
        <label class="switch-btn">
            <input type="checkbox" class="switch-input">
            <span class="switch-slider switch-round"></span>
                <span class="no">NO</span>
                <span class="yes">YES</span>
        </label>
    </div>

    <label class="switch-btn-2">
        <input type="checkbox" class="switch-input-2">
        <span class="switch-slider-2 switch-round-2"></span>
    </label>
</body>
</html>